.content{
  width: 80%;
  height: match-content;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}

.App{
  padding: 10px;
  background-color: #203647;
  height: match-content;
}

.separator{
  width: 100%;
  height: 2%;
}

.menuOption{
  width: match-parent;
  height: match-parent;
}
